* {
  box-sizing: border-box;
  background-color: #212529;
  color: white;
  font-family: "Roboto Slab";
  font-style: normal;
}

div.homepageBody,
div.givepoints,
div.selectchekpoint {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 18%;
  margin-right: 18%;
  margin-bottom: 10%;
}

a.login,
a.previous,
a.infoPage {
  text-decoration: none;
}

.heading {
  text-decoration: none;
  font-style: normal;
  font-weight: 100;
  font-size: larger;
  letter-spacing: 0.05rem;
}

/**
  Alla infosivun muotoilu
*/
h2.eventinfoHeading {
  font-weight: bold;
  font-size: 25px;
  line-height: 40px;
  text-align: center;
}

p.eventinfo {
  font-weight: 400;
  line-height: 130%;
}

.infopage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 18%;
  margin-right: 18%;
  margin-bottom: 10%;
}


table {
  width: 600px;
  text-align: left;
}

th,
td {
  border-bottom: 1px solid #ddd;
  height: 35px;
}

.updated {
  letter-spacing: 0.05rem;
  font-size: 14px;
}

iframe.homepageMap {
  display: inline;
}

/**
  Alla navbar muotoilu
*/
img.logo {
  width: 75px;
  height: 60px;
  left: 548px;
  top: 13px;
}

.nav {
  text-align: center;
  width: 100%;
}

td.navBottom {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-evenly;
  border-bottom: none;
}

.navBottom a:hover {
  color: black;
}

td.navTop {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 40px;
}


/**
  Alla tapahtuman luonnin sivun muotoilu
*/
.eventformForm {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  margin-left: 18%;
  margin-right: 18%;
  margin-bottom: 10%;
}

input.eventPlaces,
input.eventTeams {
  width: 15%;
}

input.mapsLink,
input.eventName {
  width: 50%;
}

textarea.eventInfoText {
  height: 200px;
  width: 70%;
  resize: none;
}

button.savebutton {
  width: 20%;
}

button.savebutton a {
  text-decoration: none;
}

button.savebutton a:hover {
  color: black;
}

/**
  Alla kirjautumissivun muotoiluja
*/
button.previouslogin {
  width: 20%;
}

button.previouslogin a {
  text-decoration: none;
}

button.previouslogin a:hover {
  color: black;
}

div.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-left: 18%;
  margin-right: 18%;
  margin-bottom: 10%;
}

/* Napeille pitäisi saada yhtenäinen muotoilu.... 
*/
.previous {
  margin-top: 20px;
}

.previous a {
  text-decoration: none;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-evenly;
  border-bottom: none;
}

.previous a:hover {
  color: black;
}

/* Rastien valinnan muotilu
*/
.CheckpointTableLinks a:hover {
  color: black;
}

.CheckpointTableLinks a {
  text-decoration: none;
}

.btnGivepoints {
  margin-left: 20px;
  margin-right: 20px;
}